.header {
    max-width: 60rem;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
  }

  .list {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-inline-start: 0px;
  }
  
  .list li {
     list-style-type: none;
  }

  .list a {
    text-decoration: none;
    color: #fcf9f9;
  }
  
  .list a:hover,
  .list a.active {
    color: #f0bdbd;
    text-decoration: underline;
  }